<div class="row col-12 pr-0">
  <button type="button" *ngIf = "!isViewMode()" (click)="saveWorkFlow()">Save</button>

  <div class="diagram-parent">
    <div *ngIf = "!isViewMode()">
        <app-diagram #appDiagram [fileDiagramId]="diagramId" (importDone)="handleImported($event)"></app-diagram>
    </div>
    <div *ngIf = "isViewMode()">
        <view-diagram #appDiagram [fileDiagramId]="diagramId" (importDone)="handleImported($event)"></view-diagram>
    </div>
    

    <div class="import-error" *ngIf="importError">
      <strong>Failed to render diagram: </strong>
      {{ importError.message }}
    </div>
  </div>
</div>